---
layout: default
title: Blog
permalink: "blog/radio.html"
---

			   <div class="col-8">
                <div class="card card-md">
                   <!-- card <div class="card-body"> body -->
				 
				  		
          
                
                   
                   <div class="row align-items-center"> 
					
					 <iframe width="100%" height="520px" src="https://kiwiirc.com/nextclient/?theme=osprey#irc://irc.radioclick.ro/#Romania,#RadioClick?&nick=ShowChat??" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

			
			 
					
					
                  </div>
				  
				  
				    <div class="card-footer">
					
                   
                  </div>
				  
				  
				  
                </div>
              </div>
			  
			  
			  
			  
			  
			  
			  
			  
			  
			   <!-- radio test -->
			  	 <div class="col-lg-4">
                <div class="card">
                  
				 <div class="card-body">
				  <!-- logo radio  <img class="card-header" src="https://cdn.showchat.eu.org/img/radioclick-logo.png" alt="Asculta Radio Click Romania"> -->	
				 
				  <div class="rcr" id="radioclick"></div>	

		<br>
                  </div>
                  <div class="card-footer">
                    This is not legal advice.
                    <a href="#" target="_blank">Learn more about repository licenses.</a>
                  </div>
                </div>
              </div>
