---
layout: default
title: Blog
permalink: "blog/radiochat.html"
---
<div class="grid grid-cols-12 gap-4">

    <!-- Column -->
    <div class="col-span-12 md:col-span-8">
<iframe width="100%" height="520px" src="https://kiwiirc.com/nextclient/?theme=osprey#irc://irc.radioclick.ro/#Romania,#RadioClick?&nick=ShowChat??" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>



</div>

    <!-- Column -->
    <div class="col-span-12 md:col-span-4">
<center>
<div class="rcr" id="radioclick"></div>	
</div>

</div>
