---
layout: default
title: Blog
permalink: "blog/radio.html"
---
	<div class="grid grid-cols-5 grid-rows-5 gap-4">
    <div class="col-span-3 row-span-5">


<iframe width="100%" height="520px" src="https://kiwiirc.com/nextclient/?theme=osprey#irc://irc.radioclick.ro/#Romania,#RadioClick?&nick=ShowChat??" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>




    <div class="col-span-2 row-span-5 col-start-4">
 <div class="card">
<div class="card-body">
 <div class="rcr" id="radioclick"></div>	
	<br>
                  </div>
                  <div class="card-footer">
                    This is not legal advice.
                    <a href="#" target="_blank">Learn more about repository licenses.</a>
                  </div>
                </div>
              </div>


</div>
</div>
