---
layout: default
title: Blog
permalink: "blog/radio.html"
---
<div class="container">

  <div class="row">
    <div class="col-12 md:col-8">				
<iframe width="100%" height="520px" src="https://kiwiirc.com/nextclient/?theme=osprey#irc://irc.radioclick.ro/#Romania,#RadioClick?&nick=ShowChat??" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>


    <div class="col-6 md:col-4">
  <div class="rcr" id="radioclick"></div>	</div>
  </div>

