---
layout: showchat
title: Blog
date: 2022-06-21T08:04
tags: 
    - radio
    - chat
    - irc
permalink: "test/radio.html"
---

<div class="rcr" id="radioclick"></div> 

<h3>Acuma pe RadioClick: <span data-shoutcast-value="songtitle"></span></h3>

      <p>Ascultatorii: <span data-shoutcast-value="currentlisteners"></span>
	  <span data-shoutcast-value="maxlisteners"></span></p>
      <h2>ISTORIE - ultimele piese cantate</h2>
      <ul id="played"></ul> 

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
 <script src="https://api.showchat.eu.org/radioclick/js/playlist.js?host=live.radioclick.ro&port=8008"></script>
