	<!-- radioclick -->
	<script src="https://api.showchat.eu.org/radioclick/js/radioclick.js"></script>
     <script> 
     $('#radioclick').rcr({ 
     URL: 'https://radioclick.showchat.eu.org/live.radioclick.ro:8008', version: '2', mount_point: 'undefined', vertical_layout: true, 
     bg: 'bluegrey', accent: 'blue', blur: true, autoplay: true, enable_cors: false, }); 
    </script>
